[Desktop Entry]
Type=Application
Exec=udisksctl mount --block-device MOUNTPOINT
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Mount DataDrive Dave
Name=Mount DataDrive Dave
Comment[en_US]=
Comment=
