[Desktop Entry]
Type=Application
Exec=workrave
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Workrave
Name=Workrave
Comment[en_US]=
Comment=
